.task-item {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.task-item span:first-child {
    background-color:white;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
}
.task-item .bottom-bar {
    display: flex;
    justify-content: space-between;
}
.task-item .bottom-bar label {
    padding-left: 5px;
}

.button-wrapper {
    display: flex;
    list-style-type: none;
}

.task-item-buttons {
    text-align: center;
    display:block;
    padding-top: 5px;
    padding-bottom: 5px;
    width:50px;
    border-radius: 5%;   
    box-shadow:  inset -0px -1px gray;
    margin-left: 5px;
    margin-right: 5px;
}

.task-item-buttons:active {
    box-shadow:  inset 0px 1px gray;
    padding-top: 6px;
    padding-bottom: 4px;
    transition: ease-in;    
}

.color-green {
    background-color: rgb(0, 190, 50);
    color: white;
    box-shadow:  inset -0px -1px gray;
}
.color-green:hover {
    background-color: rgb(0, 150, 50);
}

.color-blue {
    background-color: rgb(50, 140, 240);
    color: white;
}
.color-blue:hover {
    background-color: rgb(50, 140, 200);
}

.color-red {
    background-color: rgb(250, 67, 67);
    color: white;
}
.color-red:hover {
    background-color: rgb(180, 67, 67);
}