.todo {
    list-style-type: none;
}
.todo > li {
    display: flex;
}
ul {
    padding-inline-start: 0px;
    margin: 0px 10px;
}
.txt-box {
    border: 1px solid #b6b5b5;
    min-height: 20px;
    border-radius: 5px;
    height: 35px;
    width: 300px;

}
.txt-box:hover, .txt-box:focus {
    border: 1px solid #7b6ebb;
}

.task-list {
    margin: 10px 0px 0px 0px;
}
.todo-top{
    display:flex;
    justify-content: space-between;
}