.task {
    list-style-type: none;
}
.task > li {
    display: flex;
}
ul {
    padding-inline-start: 0px;
    margin: 0px 10px;
}
.txt-box {
    border: 1px solid #b6b5b5;
    min-height: 20px;
    border-radius: 5px;
}
.txt-box:hover, .txt-box:focus {
    border: 1px solid #7b6ebb;
}